#ignore directories made by Visual Studio
/out/
/.vs*/

#ignore directories made by cmake
Downloads
/build/
/install/
bin
lib

#ignore outputs of CANoe or scripts
logs
Default.venvironment
*.vtestunit
working-dir
.run